{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2>Protein Kinase and Inhibitor Database</h2>
        <a href="#" class="btn-primary">Protein Kinases</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Inhibitors</a>
      </div>

      <div class="section-device">
        <img src="static/img/bayliss.png">
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}