{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Protein Kinase and Inhibitor Database</h2>
        <a href="{{ url_for('ProteinKinase') }}" class="btn-primary">Protein Kinase</a>
        <a href="{{ url_for('Inhibitor') }}" class="btn-primary">Inhibitors</a>
        <a href="{{ url_for('Phosphosite') }}" class="btn-primary">Phosphosite</a>
        <a href="{{ url_for('Tool') }}" class="btn-primary">Tool</a>
        <a href="{{ url_for('about') }}" class="btn-primary">About</a>
        <a href="{{ url_for('kinase') }}" class="btn-primary">kinase</a>

      </div>

      <div class="section-device">
        <img src="static/img/bayliss.png">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
