{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>Protein Kinase Database</h2>

        <h3> Enter Gene Name or List of Gene Names of Protein Kinase</h3>

        <body>
	<form action="" id="questions" method="post" name="questions">
		<input type="Gene Name" name="Gene Name" id="Gene Name" placeholder="Enter Gene Name"><label for="Gene Name">Gene Name</label><br>

		<input type="submit">
	</form>
        </body>
    </div>
  </main>
{% endblock %}