{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>Phosphoproteomics Tool</h2>

        <h3>This tool summarises quantitative phophoproteomics data graphically and displays the top gene inhibited. </h3>

        <body>
	<form action="" id="questions" method="post" name="questions">
		<input type="file" name="Data Upload" id="Data Upload"<label for="Data Upload">Upload tsv file</label><br>

		<input type="submit">
	</form>
        </body>
    </div>
  </main>
{% endblock %}