{% extends "layout.html" %}

{% block content %}
<doctype html>
<title>Phospho Kinase</title>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <center><h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3></center>
    <font size="4"> Phospho Kinase explores the functional annotation, phosphosites and functional description of protein kinases,
      the key controllers of cell behavior. We focus the full complement of protein kinases in any sequenced genome through a functional Kinase search engine.
      The kinase search engine is connected to an extensive database of Kinases
      including classification and kinase information.
      In addition, phospho kinase provides information about all phosphosites phosphorylated by all kinases across a platform of proteins.
    </font>
  </div>
  <br>
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/User_icon-cp.png/1280px-User_icon-cp.png" alt="Gabriel" style="width:30%">
      <h3>Gabriel</h3>
      <p class="w3-opacity"> Student </p>
      <p>Expert in the field of Phosphoproteomic data analysis and data visualisation.</p>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-related-hand-gestures/256/face_female_blank_user_avatar_mannequin-512.png" alt="Hajar" style="width:40%">
      <h3>Hajar</h3>
      <p class="w3-opacity"> Student </p>
      <p> Experience in web development and component integration </p>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/User_icon-cp.png/1280px-User_icon-cp.png" alt="Omer" style="width:30%">
      <h3>Omer</h3>
      <p class="w3-opacity"> Student </p>
      <p> Proficient and highly accurate in data collection, sorting, and analysis. </p>

    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-related-hand-gestures/256/face_female_blank_user_avatar_mannequin-512.png" alt="Friha" style="width:40%">
      <h3>Friha</h3>
      <p class="w3-opacity"> Student </p>
      <p> Estemeed knowledge in SQLite and flask-script integration. </p>
      
    </div>
  </div>


{% endblock %}
