{% extends "layout.html" %}
{% block content %}
<doctype html>
<head>
    <title>Kinase Database</title>
    <!-- import main CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/css/main.css?version=90">

<br>
<center>
  <header class="w3-center w3-margin-bottom">
    <p> The <b>Published Kinase Inhibitor Set (PKIS)</b> is a collection of 376 compounds that have been made available by </p><p> GSK for screening by external groups; all compounds have been published in the scientific literature.</p></header>
  {% with messages = get_flashed_messages() %}
  <!-- if there is an error message then output this message -->
    {% if messages %}
      <l class=flashes>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </l>
  </center>
  {% endif %}
{% endwith %}

<!-- Search Function -->
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <div class="search">
    <div class="wrap">

      <!-- drop down menu -->
      {{ form.select(class_="searchTerm")}}   <!-- 'class_' is based on a style located in the main CSS sheet -->
      <br>
      <br>
      <!-- search bar -->
      {{ form.search(class_="searchTerm", placeholder="What are you looking for?") }}
    <p>
      <br>
      <br>
    <input type=submit value=Search class=searchButton>
  </div>
 </div>
</form>
<br>
<br>
{% endblock %}
