{% extends "layout.html" %}
{% block content %}

<doctype html>
<head>
    <title>Kinase Database</title>
    <link rel="stylesheet" type="text/css" href="static/css/search.css">
</head>
<br>
<br>
<center>
  <header class="w3-center w3-margin-bottom"> <p><b>Search for a Kinase based on it's name or family. <p>New feature! No search results? Search by Alias names!</b></p></header>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
  </center>
  {% endif %}
{% endwith %}
<br>
<br>
<br>
<br>
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <div class="search">
    <div class="wrap">
      {{ form.select(class_="searchTerm")}}
      <br>
      <br>
      <br>
      {{ form.search(class_="searchTerm", placeholder="What are you looking for?") }}
    <p>
    <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
 </button>
 </div>
 </div>
</form>
<br>

{% endblock %}
