{% extends "layout.html" %}

{% block content %}



        <link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
        
        
          
   <script type="text/javascript" src={{cdn_js | safe}}></script>


  <main class="about-section">
    <div class="container">

      <h1 class="w3-medium w3-text-white"><span class="w3-padding w3-teal w3-opacity-min"><b>Phosphoproteomics Tool Results</b></h1>

        <body>
      
<h1>Your File Has Been Analysed</h1>
<p> Volcano Plot</p>
{{script1 | safe}}

{{div1 | safe}}

<p> Volcano Plot2</p>
{{script2 | safe}}

{{div2 | safe}}


<p> The red points show </p>





<h1>Sorted Table with Relative Kinase Activity</h1>

{{Kinasetable_sorted | safe}}



    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>




  
  </body>

</div>


{% endblock %}
