{% extends "layout.html" %}

{% block content %}
<doctype html>
<title>Phosphoproteomics</title>
<head>
    <title> PP Tool </title>
    <link rel="stylesheet" type="text/css" href="/static/css/tab.css?version=3423">

    <link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
    <script type="text/javascript" src={{cdn_js | safe}}></script>
</head>

<main class="w3-card-4 w3-margin w3-white">
  <div class="w3-container">
    <br>
    <center> <h3><b>Phosphoproteomics Tool Results</b></h3> <center>
      <br>
    </div>

<div class="tabset">
        <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="total" checked>
        <label for="tab1">Total Protein Summary</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="kinase">
        <label for="tab2">Filtered Kinase Summary</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="relative">
        <label for="tab3">Relative Kinase Activity</label>

        <div class="tab-panels">
          <section id="info" class="tab-panel">
            <h5 class="w3-border-bottom w3-border-light-grey w3-padding-12 w3-light-grey"> Volcano Plot </h5>
            <div class="container" style="text-align: center; width:800px; margin:auto;" >
              <p style="text-align:center;">
                {{script1 | safe}}
                {{div1 | safe}}</p>

                <p> <b>User-Defined Parameters:</b>
                  <b>Fold change:</b> {{FC_P | safe}},
                  <b>p-value Threshold:</b> {{PV_P | safe}},
                  <b>Cumulative Variance Threshold:</b> {{CV_P | safe}},
                  <b>Inhibitor:</b>  {{Inhibitor | safe}}.</p>
                  <p>Each point represents the susbtrates that were found in your file.
                    The red points show the substrates that are below the fold-change at the chosen p-value.
                    The green points show substrates that are above the fold-change at the chosen p-value.
                    The grey points are the substrates that are below the fold-change and below the chosen p-value. </p></div>

          </section>

          <section id="kinase" class="tab-panel">
            <h5 class="w3-border-bottom w3-border-light-grey w3-padding-12 w3-light-grey"> Volcano Plot </h5>
            <div style="text-align: center; width:800px; margin:auto;" >
              <p style="text-align:center;">
                {{script2 | safe}}
                {{div2 | safe}}</p>

                <p> <b>User-Defined Parameters:</b>
                  <b>Fold change:</b> {{FC_P | safe}},
                  <b>p-value Threshold:</b> {{PV_P | safe}},
                  <b>Cumulative Variance Threshold:</b> {{CV_P | safe}},
                  <b>Inhibitor:</b>  {{Inhibitor | safe}}.</p>
                  <p>Each point represents the susbtrates foudn in your file which were paired with known kinases that
                    phosphorylate at the given phosphorylation site. The purple points show the substrates
                    that are below the fold-change at the chosen p-value. The blue points show substrates that are above
                    the fold-change at the chosen p-value.The grey points are the substrates that are below the fold-change
                    and below the chosen p-value.</p> </div>
          </section>

          <section id="relative" class="tab-panel">
            <!--<h5 class="w3-border-bottom w3-border-light-grey w3-padding-12 w3-teal"> Total Kinase Volcano Plot </h5> -->
            <h5 class="w3-border-bottom w3-border-light-grey w3-padding-12 w3-light-grey"> Relative Kinase Activity </h5>
            <div style="text-align: center; width:800px; margin:auto;" >
              <b>The table below shows the relative kinase activity of all known human kinases found when
                paired with your subtrates' and their phosphorylation sites. </b>
                <br>
                <br>
                {{Kinasetable_sorted | safe}}
            </div>
            <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          </section>
  </div>
<div class="w3-row"></div>

{% endblock %}
