{% extends "layout.html" %}

{% block content %}

  <main class="about-section">
    <div class="container">

      <h1 class="w3-medium w3-text-white"><span class="w3-padding w3-teal w3-opacity-min"><b>Phosphoproteomics Tool Results</b></h1>
      <div>
        <body>
      
             <div class="w3-padding w3-teal w3-opacity-min">
               <h2>Input Required: </h2>
            </div>
            <form id="upload-form" action="{{ url_for('plot')}}" method="POST" enctype="multipart/form-data" class="w3-container " >
              <label class="w3-text-teal center-block" for= "FC_P"><b>Fold Change: </b></label>
              <input class="w3-input w3-border w3-light-grey center-block" type="number" id="FC_P" name="FC_P"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>

              <label class="w3-text-teal center-block" for= "PV_P"><b>p-value Threshold: </b></label>
              <input class="w3-input w3-border w3-light-grey center-block" type="number" id="PV_P" name="PV_P"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>

              <label class="w3-text-teal center-block" for= "CV_P"><b>CV Thresholds: </b></label>
              <input class="w3-input w3-border w3-light-grey center-block" type="number" id="CV_P" name="CV_P"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"/>

              <label class="w3-text-teal center-block" for= "Inhibitor"><b>Inhibitor used:</b></label>
              <input class="w3-input w3-border w3-light-grey center-block" <input type="text" id="Inhibitor" name="Inhibitor" required minlength="1" maxlength="30" size="10">

            

              <input class="w3-btn w3-padding w3-blue-grey" type=submit value=Run>
           
            </form> 

        </body>

      </div>


{% endblock %}
