{% extends "base.html" %}
{% block title %}Details{% endblock %}
{% block content %}
<h1 class="text-center">{{data.name}}</h1>
<h6 class="text-center">{{data.aliases|join(", ")}}</h6>
<div class="card">
    <div class="card-body">
        <div id="plotly-div" style="width:100%;height:150px;"></div>
    </div>
</div>
<br>
<p><a class="btn btn-primary btn-block" href="/download/?g={{data.id}}" download="{{data.name}}.fasta">Download</a></p>
<br>
<div class="d-flex justify-content-start flex-wrap">
    {% for chunk in data.chunks %}
        <div class="col" style="flex:0 0 180px;">
            <p class="text-right mb-0">{{loop.index*10}}</p>
            <p class="text-right">{% for letter in chunk %}{% if letter is upper %}{{letter}}{%else%}<span class="bg-danger text-white">{{letter}}</span>{% endif %}{% endfor %}</p>
        </div>
    {% endfor %}

</div>
{% endblock %}

{% block extra_js %}
<script src="{{url_for('static', filename='js/plotly-1.44.1.min.js')}}"></script>
<script>
    var sequence = '{{data.sequence}}'
    var xdata=[];
    var ydata1 = [];
    var ydata2 = [];
    for(var i=1;i<sequence.length+1;i++){
        xdata.push(i);
        ydata1.push(2);
        ydata2.push(1);
    }
    trace1 = {
    x: xdata, 
    y: ydata1, 
    hoverinfo: 'x+text', 
    line: {
        color: 'orange', 
        width: 25
    }, 
    mode: 'lines', 
    type: 'scatter',
    xaxis: 'x', 
    yaxis: 'y', 
    text: sequence.split(""),
    };
    trace2 = {
    x: xdata, 
    y: ydata2, 
    hoverinfo: 'none', 

    mode: 'text', 
    type: 'scatter', 
    xaxis: 'x', 
    yaxis: 'y', 
    text: sequence.split(""),
    };
   data = [trace1,trace2]
    layout = {
    
    autosize: true, 
    dragmode: 'zoom', 
    hovermode: 'closest', 
    margin: {
        r: 10, 
        t: 30, 
        b: 30, 
        l: 10
    }, 
    showlegend: false, 
    title: 'Pkinase (length:'+sequence.length+')', 
    xaxis: {
        anchor: 'y', 
        domain: [0, 1], 
        range: [-1, 80], 
        showgrid: false, 
        tickcolor: '#cccccc', 
        tickfont: {
        family: 'Arial', 
        size: 10
        }, 
        ticklen: 7, 
        type: 'linear', 
        zeroline: false,
    }, 
    yaxis:{
        anchor:'x',
        range:[0.8,3],
        showgrid:false,
        zeroline:false,
        showticklabels:false,
        fixedrange: true,
    },
    };
    Plotly.newPlot('plotly-div', data,layout,{responsive:true});
</script>
{% endblock %}
